@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: url(../image/bg.png);
}

.container {
  width: 975px;
  margin: 0 auto;
}

.input {
  width: 284px;
  height: 43px;
  font-size: 21px;
  color: rgba(128, 130, 134, 0.3);
  font-family: 'Akrobat Regular';
  text-align: center;
  line-height: 43;
  outline: none;
  border: none;
}

.btn {
  width: 329px;
  height: 43px;
  background-color: #de0d08;
  color: #ffffff;
  font-size: 21px;
  font-family: 'Akrobat Bold';
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #f72722;
}

@media (max-width: 1200px) {
  .input {
    margin-bottom: 15px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 567px) {
  .btn {
    width: 80%;
    margin: auto;
    font-size: 11px;
  }
  .input {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }
}

@font-face {
  font-family: 'Tahoma Regular';
  src: url("../fonts/Tahoma/");
  src: url("../fonts/Tahoma/?#iefix") format("embedded-opentype"), url("../fonts/Tahoma/Tahoma.woff") format("woff"), url("../fonts/Tahoma/Tahoma.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat Regular';
  src: url("../fonts/Akrobat/Akrobat-Regular/");
  src: url("../fonts/Akrobat/Akrobat-Regular/?#iefix") format("embedded-opentype"), url("../fonts/Akrobat/Akrobat-Regular/Akrobat-Regular.woff") format("woff"), url("../fonts/Akrobat/Akrobat-Regular/Akrobat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat Bold';
  src: url("../fonts/Akrobat/Akrobat-Bold/");
  src: url("../fonts/Akrobat/Akrobat-Bold/?#iefix") format("embedded-opentype"), url("../fonts/Akrobat/Akrobat-Bold/Akrobat-Bold.woff") format("woff"), url("../fonts/Akrobat/Akrobat-Bold/Akrobat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corbel Regular';
  src: url("../fonts/Corbel/");
  src: url("../fonts/Corbel/?#iefix") format("embedded-opentype"), url("../fonts/Corbel/Corbel.woff") format("woff"), url("../fonts/Corbel/Corbel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arctika script Regular';
  src: url("../fonts/Arctika-script/");
  src: url("../fonts/Arctika-script/?#iefix") format("embedded-opentype"), url("../fonts/Arctika-script/Arctikascript.woff") format("woff"), url("../fonts/Arctika-script/Arctikascript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #749c8d;
  z-index: 100000;
}

.header-section {
  min-height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__img {
  margin-right: 15px;
}

.header-logo__title {
  font-family: 'Tahoma Regular';
  font-weight: 400;
  font-size: 26px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: -1.17px;
}

.header-social {
  min-width: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-social__link {
  width: 41px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 100%;
}

@media (max-width: 567px) {
  .header-section {
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.banner {
  display: block;
  width: 100%;
  top: 80px;
  min-height: 248px;
  background-color: #f7f9ef;
  -webkit-box-shadow: 0 0 10px rgba(16, 17, 17, 0.4);
          box-shadow: 0 0 10px rgba(16, 17, 17, 0.4);
  position: relative;
}

.banner-snowman {
  position: absolute;
  width: 209px;
  height: 176px;
  background: url(../image/banner/banner-snowman.png);
  bottom: 0;
  right: 15%;
}

.banner-sale {
  position: absolute;
  width: 184px;
  height: 93px;
  background: url(../image/banner/banner-sale.png);
  top: 0;
  left: 20%;
}

.banner-arrow {
  position: absolute;
  width: 111px;
  height: 231px;
  background: url(../image/banner/banner-arrow.png);
  bottom: -50%;
  right: 3%;
  z-index: 999;
}

.banner-arrow::after {
  position: absolute;
  content: 'Лови момент!';
  font-size: 25px;
  font-family: 'Arctika script Regular';
  color: #ffffff;
  left: -25px;
  bottom: 35%;
  width: 146px;
  height: 16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.banner::before {
  position: absolute;
  content: '';
  width: 483px;
  height: 248px;
  background: url("../image/banner/banner-before.png");
  top: 0;
  left: 0;
}

.banner::after {
  position: absolute;
  content: '';
  width: 493px;
  height: 248px;
  background: url("../image/banner/banner-after.png");
  top: 0;
  right: 0;
}

.banner__title {
  padding-top: 30px;
  font-family: 'Arctika script Regular';
  border: 5px solid #f8f8f8;
  text-shadow: 0 4px 8px rgba(16, 17, 17, 0.75);
  color: #de2c2f;
  font-size: 117px;
  text-align: center;
  font-weight: 400;
  line-height: 66.67px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f8f8f8;
}

.big {
  font-size: 108px;
}

@media (max-width: 1200px) {
  .banner::before {
    display: none;
  }
  .banner-sale {
    display: none;
  }
  .banner-snowman {
    display: none;
  }
}

@media (max-width: 992px) {
  .banner {
    display: none;
  }
}

@media (max-width: 768px) {
  .banner {
    display: none;
  }
}

.sale {
  margin-top: 150px;
}

.sale__block {
  min-height: 118px;
  background: url("../image/sale/sale-bg.png") no-repeat center center;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.92px;
  line-height: 118px;
  font-family: 'Akrobat Regular';
  position: relative;
}

.sale__block_red {
  font-family: 'Akrobat Bold';
  color: #de4814;
  font-size: 63px;
  letter-spacing: 2.5px;
}

.sale__block::before {
  position: absolute;
  content: '';
  width: 54px;
  height: 78px;
  background: url("../image/sale/arrow-left.png");
  bottom: -25px;
  left: 40px;
}

.sale__block::after {
  position: absolute;
  content: '';
  width: 54px;
  height: 78px;
  background: url("../image/sale/arrow-right.png");
  bottom: -25px;
  right: 40px;
}

@media (max-width: 992px) {
  .sale__block {
    display: none;
  }
}

.cards {
  margin-top: 70px;
}

.cards-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-card {
  margin-bottom: 65px;
  -webkit-box-shadow: 0 0 15px rgba(16, 17, 17, 0.4);
          box-shadow: 0 0 15px rgba(16, 17, 17, 0.4);
  background-color: #dfe4ec;
  position: relative;
}

.item-card::after {
  position: absolute;
  content: '';
  width: 105px;
  height: 90px;
  background: url("../image/cards/sale-block.png") center center no-repeat;
  right: -10px;
  top: -15px;
}

.item-card-hide {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  color: #004734;
  font-family: 'Akrobat Regular';
  font-size: 21px;
  z-index: 2;
  padding: 22px;
  opacity: 0;
  -webkit-transition: .7s;
  transition: .7s;
}

.item-card-hide_close {
  position: absolute;
  content: '';
  height: 23px;
  width: 23px;
  background: url(../image/cards/dell.png);
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.item-card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.item-card__logo {
  margin-top: 25px;
  margin-right: 15px;
}

.item-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 18px;
  margin-left: 18px;
}

.item-card__price_top {
  margin-bottom: 11px;
  margin-top: 25px;
  width: 221px;
  height: 79px;
  background-color: #ffffff;
}

.item-card__price_old {
  color: #575757;
  margin-left: 25px;
  text-decoration: line-through;
  font-size: 30px;
  font-family: 'Arial';
}

.item-card__price_new {
  margin-left: 25px;
  color: #d8481c;
  font-size: 37px;
  font-family: 'Arial';
}

.item-card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-card__button {
  outline: none;
  cursor: pointer;
  margin-bottom: 9px;
  width: 222px;
  height: 44px;
  background-color: #3ab16f;
  color: #ffffff;
  font-family: 'Akrobat Bold';
  font-size: 24px;
  text-transform: uppercase;
}

.item-card__button_desc {
  background-color: #ffffff;
  border: 2px solid #e96c41;
  color: #b83b11;
  margin-bottom: 10px;
}

.item-card__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.item-card__desc_text {
  cursor: pointer;
  font-family: 'Corbel Regular';
  color: #ab310c;
  font-size: 17px;
  text-decoration: none;
  border-bottom: 1px dashed #ab310c;
}

.item-card-description {
  margin-top: 15px;
  position: relative;
}

.item-card-description__title {
  margin-left: 19px;
  margin-bottom: 13px;
  color: #000000;
  font-family: 'Akrobat Bold';
  text-decoration: underline;
  font-size: 26px;
}

.item-card-description__description {
  margin-left: 19px;
  text-transform: uppercase;
  font-size: 26px;
  font-family: 'Akrobat Regular';
  margin-bottom: 30px;
}

.item-card-description__text {
  max-width: 380px;
  margin-left: 19px;
  font-size: 20px;
  font-family: 'Akrobat Regular';
  color: #004734;
  margin-bottom: 16px;
}

.item-card-social {
  padding-top: 12px;
  min-height: 82px;
  background-color: #ffffff;
  opacity: 0.9;
}

.item-card-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item-card-social__title {
  color: #828384;
  font-family: 'Akrobat Regular';
  text-align: center;
  font-size: 18px;
  margin-bottom: 14px;
}

.item-card-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 27px;
  background-color: #aeaeae;
  border-radius: 50%;
}

.show {
  opacity: 1;
}

@media (max-width: 992px) {
  .cards-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 567px) {
  .item-card {
    padding-right: 0;
  }
  .item-card__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item-card-social-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .item-card-social__link {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .item-card__price {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item-card-hide__text {
    margin-top: 10px;
    font-size: 11px;
  }
  .item-card-hide {
    width: 100%;
  }
  .item-card__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
  .item-card-description__text {
    text-align: center;
    margin-left: 0;
  }
}

.feedback-form {
  min-height: 95px;
  border: 3px dotted #608f7f;
  background-color: #80c9b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feedback {
  margin-bottom: 58px;
  position: relative;
}

.feedback::before {
  position: absolute;
  content: '';
  width: 78px;
  height: 51px;
  background: url("../image/feedback/arrow-r.png");
  top: 20%;
  left: 1%;
}

.feedback::after {
  position: absolute;
  content: '';
  width: 78px;
  height: 51px;
  background: url("../image/feedback/arrow-l.png");
  top: 20%;
  right: 1%;
}

@media (max-width: 1200px) {
  .feedback-form {
    width: 80%;
    margin: auto;
    padding: 10px 0  10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback::before {
    display: none;
  }
  .feedback::after {
    display: none;
  }
}

@media (max-width: 567px) {
  .feedback-form {
    width: 80%;
  }
}

.footer {
  background-color: #a4a4a5;
}

.footer-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer__text {
  font-family: 'Akrobat Regular';
  text-decoration: underline;
  letter-spacing: 0.17px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  line-height: 33.33px;
  color: rgba(255, 255, 255, 0.7);
}
/*# sourceMappingURL=style.css.map */