@font-face {
  font-family: 'Tahoma Regular';
  src: url('../fonts/Tahoma/');
  src: url('../fonts/Tahoma/?#iefix') format('embedded-opentype'),
    url('../fonts/Tahoma/Tahoma.woff') format('woff'),
    url('../fonts/Tahoma/Tahoma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat Regular';
  src: url('../fonts/Akrobat/Akrobat-Regular/');
  src: url('../fonts/Akrobat/Akrobat-Regular/?#iefix') format('embedded-opentype'),
    url('../fonts/Akrobat/Akrobat-Regular/Akrobat-Regular.woff') format('woff'),
    url('../fonts/Akrobat/Akrobat-Regular/Akrobat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat Bold';
  src: url('../fonts/Akrobat/Akrobat-Bold/');
  src: url('../fonts/Akrobat/Akrobat-Bold/?#iefix') format('embedded-opentype'),
    url('../fonts/Akrobat/Akrobat-Bold/Akrobat-Bold.woff') format('woff'),
    url('../fonts/Akrobat/Akrobat-Bold/Akrobat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corbel Regular';
  src: url('../fonts/Corbel/');
  src: url('../fonts/Corbel/?#iefix') format('embedded-opentype'),
    url('../fonts/Corbel/Corbel.woff') format('woff'),
    url('../fonts/Corbel/Corbel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arctika script Regular';
  src: url('../fonts/Arctika-script/');
  src: url('../fonts/Arctika-script/?#iefix') format('embedded-opentype'),
  url('../fonts/Arctika-script/Arctikascript.woff') format('woff'),
  url('../fonts/Arctika-script/Arctikascript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }